.preview-screen .ui-elements .carhud-container .carhud_content_modern {
    position: relative;
    left: 0%;
    width: 20vw;
    pointer-events: none;
    height: 20vw;
}
.preview-screen .ui-elements .carhud-container .carhud-modern {
    width: 20vw;
    height: 20vw;
    position: relative;
    display: flex;
    left: 0%;
    transform: scale(0.75);
    pointer-events: none;
}

.preview-screen .ui-elements .carhud-container .carhud-modern > svg {
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
}

.preview-screen .ui-elements .carhud-container .carhud-modern .indicators {
    width: 20vw;
    height: 20vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.preview-screen .ui-elements .carhud-container .carhud-modern .indicators .speed-box {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.234));
}

.preview-screen .ui-elements .carhud-container .carhud-modern .indicators .speed-box .units {
    font-size: 0.6vw;
    font-weight: 600;
    opacity: 0.6;
    margin: 0;
    position: relative;
    top: 0.5vw;
}

.preview-screen .ui-elements .carhud-container .carhud-modern .indicators .speed-box .speed {
    display: flex;
    font-size: 3.3vw;
    font-weight: 700;
    margin-bottom: 0.3vw;
}

.preview-screen .ui-elements .carhud-container .carhud-modern .indicators .speed-box .speed .speed-0 {
    opacity: 0.4;
}

.preview-screen .ui-elements .carhud-container .carhud-modern .indicators .speed-box .street-label {
    font-weight: 600;
    width: 13vw;
    text-align: center;
}

.preview-screen .ui-elements .carhud-container .carhud-modern .indicators .belt {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1.3vw;
    color: black;
    opacity: 0.6;
    transition: all .125s ease-in-out;
}

.preview-screen .ui-elements .carhud-container .carhud-modern .indicators .belt.active {color: var(--motive); opacity: 0.99;}

.carhudProgressAnimModern {
    stroke-dasharray: 3449.373046875;
    stroke-dashoffset: 1720;
    animation: updateCarhudModernBar 2s infinite;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes updateCarhudModernBar {
    0% {
        stroke-dashoffset: 3449.3730486875
    } 50% {
        stroke-dashoffset: 1720
    } 100% {
        stroke-dashoffset: 3449.3730486875
    }
}