body{
  background: linear-gradient(117.58deg, rgba(2, 0, 99, 0.78) -0.05%, rgba(0, 146, 41, 0.78) 93.99%);
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
}

.container{
  position: absolute;
  width: 1218px;
  height: 828px;
  left: 19%;
  top: 11%;
}

.prime{
  position: absolute;
  width: 214px;
  height: 269px;
  background-image: url(./img/prime.svg);
  cursor:pointer;
}

.prime-img{
  width: 78%;
  top: 13%;
  position: absolute;
  left: 12%;
}

.prime-img-bp{
  position: absolute;
  top: -19%;
  left: -21%;
  width: 65%;
  z-index: 2;
}

.prime-title-first{
  position: absolute;
  width: 159px;
  height: 35px;
  left: 13%;
  top: 29%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  color: #CC2D23;
}

.prime-title-second{
  position: absolute;
  width: 159px;
  height: 49px;
  left: 13%;
  top: 45%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
}

.events{
  position: absolute;
  width: 215px;
  height: 500px;
  left: 0%;
  top: 32%;
  background-image: url(./img/event.svg);
  cursor:pointer;
}

.events-title{
  position: absolute;
  width: 159px;
  height: 82px;
  left: 14%;
  top: 27%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
}

.events-img{
  position: absolute;
  width: 233px;
  height: 223px;
  left: -23%;
  top: 52%; 
}

.user{
  position: absolute;
  width: 642px;
  height: 223px;
  left: 21%;
  background: linear-gradient(105.89deg, #3DA025 -23.94%, rgba(61, 160, 37, 0) 57.93%);
  border-radius: 10px;
}

.user-img{
  position: absolute;
  width: 238px;
  height: 238px;
  left: -2%;
  top: -4%;
  transform: rotate(-33.55deg);
}

.username{
  position: absolute;
  width: 336px;
  height: 45px;
  left: 40%;
  top: 13%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
}

.cash-text{
  position: absolute;
  width: 68px;
  height: 24px;
  left: 40%;
  top: 37%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #9B9B9B;
}

.cash-data{
  position: absolute;
  width: 166px;
  height: 28px;
  left: 49%;
  top: 36%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #9B9B9B;
}

.bank-text{
  position: absolute;
  width: 68px;
  height: 24px;
  left: 40%;
  top: 51%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #9B9B9B;
}

.bank-data{
  position: absolute;
  width: 166px;
  height: 28px;
  left: 49%;
  top: 51%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #9B9B9B;
}

.map{
  box-sizing: border-box;
  position: absolute;
  width: 299px;
  height: 133px;
  left: 21%;
  top: 32%;
  background: linear-gradient(90deg, #30C788 -12.37%, rgba(48, 199, 136, 0) 87.63%);
  border: 2px solid #30C788;
  border-radius: 10px;
  cursor:pointer;
}

.map-img{
  position: absolute;
  width: 107.81px;
  height: 152.15px;
  left: 60%;
  top: -6%;
  transform: rotate(11.6deg);
}

.map-text{
  position: absolute;
  width: 75px;
  height: 36px;
  left: 15%;
  top: 32%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
}

.shop{
  box-sizing: border-box;
  position: absolute;
  width: 306px;
  height: 218px;
  left: 49%;
  top: 32%;
  background: linear-gradient(124.77deg, #338AB8 3.92%, rgba(51, 138, 184, 0) 70.49%);
  border: 2px solid #338AB8;
  border-radius: 10px;
  cursor:pointer;
}

.shop-img{
  position: absolute;
  width: 105%;
  left: -9%;
  top: 38%;
}

.shop-text{
  position: absolute;
  width: 175px;
  height: 50px;
  left: 21%;
  top: 15%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
}

.work{
  box-sizing: border-box;
  position: absolute;
  width: 299px;
  height: 320px;
  left: 21%;
  top: 54%;
  background: linear-gradient(145.24deg, #DFB614 -21.98%, rgba(223, 182, 20, 0) 61.46%);
  border: 2px solid #DFB614;
  border-radius: 10px;
}

.work-img{
  position: absolute;
  width: 161px;
  height: 161px;
  left: -9%;
  top: 55%;
}

.work-text{
  position: absolute;
  width: 158px;
  height: 47px;
  left: 22%;
  top: 14%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
}

.work-data1{
  position: absolute;
  width: 175px;
  height: 32px;
  left: 20%;
  top: 29%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  color: #B3B1B1;
}

.work-data2{
  position: absolute;
  width: 175px;
  height: 32px;
  left: 20%;
  top: 39%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
  color: #B3B1B1;
}

.inventory{
  box-sizing: border-box;
  position: absolute;
  width: 306px;
  height: 28.5%;
  left: 49%;
  top: 64%;
  background: linear-gradient(132.01deg, #C4537B -13.23%, rgba(196, 83, 123, 0) 73.69%);
  border: 2px solid #C4537B;
  border-radius: 10px;
  cursor: pointer;
}

.inventory-img{
  position: absolute;
  width: 73%;
  left: -18%;
  top: 7%;
  transform: rotate(3.73deg);
}

.inventory-text{
  position: absolute;
  width: 226px;
  height: 37px;
  left: 31%;
  top: 38%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
}


.money{
  box-sizing: border-box;
  position: absolute;
  width: 212px;
  height: 493px;
  left: 78%;
  background: linear-gradient(199.8deg, #D37D17 -30.44%, rgba(211, 125, 23, 0) 95.77%);
  border: 2px solid #D37D17;
  border-radius: 10px;
  cursor:pointer;
}

.money-img{
  position: absolute;
  width: 257px;
  height: 257px;
  left: -12%;
  top: 59%;
}

.money-text{
  position: absolute;
  width: 203px;
  height: 37px;
  left: 2%;
  top: 22%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
}

.money-text2{
  position: absolute;
  width: 203px;
  height: 37px;
  left: 2%;
  top: 32%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #C7C7C7;
}

.config{
  box-sizing: border-box;
  position: absolute;
  width: 212px;
  height: 27.4%;
  left: 78%;
  top: 65%;
  background: linear-gradient(140.27deg, #E0E2E2 -50.66%, rgba(224, 226, 226, 0) 78.32%);
  border: 2px solid #E0E2E2;
  border-radius: 10px;
  cursor: pointer;
}

.config-img{
  position: absolute;
  width: 145px;
  height: 221px;
  left: 30%;
  top: 1%;
}

.config-text{
  position: absolute;
  width: 220px;
  height: 39px;
  left: -3%;
  top: 78%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.cash-icon{
  width: 37%;
}

.bank-icon{
  width: 37%;
}

.phone-icon{
  width: 37%;
  top: 188%;
  position: absolute;
}

.phone-text{
  position: absolute;
  width: 68px;
  height: 24px;
  left: 40%;
  top: 46%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #9B9B9B;
}

.phone-data{
  position: absolute;
  width: 166px;
  height: 28px;
  left: 49%;
  top: 66%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #9B9B9B;
}

.report{
  box-sizing: border-box;
  position: absolute;
  width: 138px;
  height: 211px;
  left: 63%;
  background: linear-gradient(162.89deg, #D3004C 9.7%, rgba(197, 0, 71, 0) 85.4%);
  border: 2px solid #C7054B;
  border-radius: 10px;
  cursor:pointer;
}

.report-img{
  position: absolute;
  width: 139px;
  height: 139px;
  left: 14%;
  top: 42%;
  transform: rotate(-15.61deg);
}

.report-text{
  position: absolute;
  width: 159px;
  height: 95px;
  left: -10%;
  top: 5%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
}

.events-data{
  position: absolute;
  width: 249px;
  height: 66px;
  left: -7%;
  top: 38%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #A2A2A2;
}

.eventitem{
  display:none; 
  position: absolute;
  width: 825px;
  height: 606px;
  left: 15%;
  top: 11%;
  background: rgba(0, 0, 0, 0.98);
  border-radius: 10px;
  z-index: 2;
}

.eventitem-title{
  position: absolute;
  width: 322px;
  height: 58px;
  left: 30%;
  top: 8%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 58px;
  text-align: center;
  color: #FFFFFF;
}

.eventitem-text{
  position: absolute;
  width: 765px;
  height: 194px;
  left: 4%;
  top: 22%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  overflow: scroll;
  overflow-x: hidden;
}

.eventitem-img{
  position: absolute;
  width: 787px;
  height: 241px;
  left: 2%;
  top: 56%;
  border-radius: 10px;
  object-fit: cover;
}

.eventitem-close{
  position: absolute;
  width: 31px;
  height: 31px;
  left: 95%;
  top: 2%;
  background: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}

.eventitem-close-img{
  width: 71%;
  top: 14%;
  position: absolute;
  left: 14%;
}

.iban-text{
  position: absolute;
  width: 68px;
  height: 24px;
  left: 40%;
  top: 80%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}

.iban-data{
  position: absolute;
  width: 166px;
  height: 28px;
  left: 49%;
  top: 80%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #9B9B9B;
}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #131313b3;
}

::-webkit-scrollbar-thumb {
  background-color: #8FDA25;
  border-radius: 20px;
}


@media screen and (max-width:3440px){
  .container{
    left: 35%;
    top: 18%;
  }

}

@media screen and (max-width:2560px){
  .container {
    position: absolute;
    width: 1218px;
    height: 828px;
    left: 28%;
    top: 18%;
  }
}


@media screen and (max-width:1920px){
  .container {
    position: absolute;
    width: 1218px;
    height: 828px;
    left: 20%;
    top: 13%;
  }
}

@media screen and (width:3840px){
  .container {
    position: absolute;
    width: 1218px;
    height: 828px;
    left: 34%;
    top: 13%;
  }
}

@media screen and (max-width:1440px){
  .container {
    position: absolute;
    width: 1218px;
    height: 828px;
    left: 10%;
    top: 8%;
  }
}

@media screen and (max-width:1280px){
  .container {
    position: absolute;
    width: 1156px;
    height: 781px;
    left: 5%;
    top: 2%;
  }

  .events{
    height: 444px;
  }

  .work{
    height: 272px;
  }

  .work-img{
    top: 47%;
  }

  .inventory{
    height: 24.5%;
  }

  .inventory-img{
    top: -9%;
  }

  .config{
    height: 23.4%;
  }

  .money-img{
    z-index: 2;
  }
}