#body{
    /* display:none; */
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.container{
    position: absolute;
    width: 460px;
    height: 247px;
    left: 46rem;
    top: 24rem; 
    animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.vertical{
    position: absolute;
    width: 0.45rem;
    height: 15rem;
    background: rgba(255, 0, 104, 0.9);
    z-index: 2;
}

.box{
    position: absolute;
    width: 28rem;
    height: 15rem;
    background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
}

.box-title{
    position: absolute;
    width: 366px;
    height: 45px;
    left: 3rem;
    top: 1.5rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;    
}

.box-text{
    position: absolute;
    width: 374px;
    height: 38px;
    left: 2.5rem;
    top: 5.5rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.selloption{
    position: absolute;
    left: 6rem;
    top: 9rem;
    width: 17rem;
    height: 4rem;
}

.finishanim {
    transition: all 1s;
    animation: slide-in-top2 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.box-sellbutton{
    box-sizing: border-box;
    position: absolute;
    width: 96px;
    height: 48px;
    left: 1rem;
    top: 0.5rem;
    border: 2px solid rgba(255, 0, 104, 0.9);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.box-sellbutton:hover{
    background: rgba(255, 0, 104, 0.9);
}

.box-sellbutton-text{
    position: absolute;
    width: 98px;
    height: 31px;
    left: -0.1rem;
    top: 0.5rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    
}

.box-cancelbutton{
    box-sizing: border-box;
    position: absolute;
    width: 96px;
    height: 48px;
    left: 9rem;
    top: 0.5rem;
    border: 2px solid rgba(255, 0, 104, 0.9);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.box-cancelbutton:hover{
    background: rgba(255, 0, 104, 0.9);
}

.box-cancelbutton-text{
    position: absolute;
    width: 98px;
    height: 31px;
    left: -0.1rem;
    top: 0.5rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;    
}

.priceoption{
    position: absolute;
    width: 23rem;
    height: 3rem;
    left: 3rem;
    top: 10rem;
    transition: all 1s;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.inputprice{
    position: absolute;
    width: 221px;
    height: 38px;
    background: rgba(0, 0, 0, 0.62);
    border-radius: 10px;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.inputprice:focus {
    outline: none;
}

.priceoption-sellbutton{
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 38px;
    left: 14.5rem;
    border: 2px solid rgba(255, 0, 104, 0.9);
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}

.priceoption-sellbutton:hover{
    background: rgba(255, 0, 104, 0.9);
    transition: all 0.5s;
}

.priceoption-sellbutton-text{
    position: absolute;
    width: 60px;
    height: 24.54px;
    left: -0.1rem;
    top: 0.4rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.priceoption-cancelbutton{
    box-sizing: border-box;
    position: absolute;
    width: 72px;
    height: 38px;
    left: 19rem;
    border: 2px solid rgba(255, 0, 104, 0.9);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.priceoption-cancelbutton-text{
    position: absolute;
    width: 62px;
    height: 24.54px;
    left: 0.2rem;
    top: 0.4rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.priceoption-cancelbutton:hover{
    background: rgba(255, 0, 104, 0.9);
    transition: all 0.5s;
}

.vehicleinfo{
    position: absolute;
    width: 28rem;
    height: 44rem;
    left: 1rem;
    top: 11rem;
    background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
}

.vehicleinfo-vertical{
    position: absolute;
    width: 0.5rem;
    height: 44rem;
    left: 0rem;
    top: 0rem;
    background: rgba(255, 0, 104, 0.9);
}

.vehicleinfo-title{
    position: absolute;
    width: 366px;
    height: 52.42px;
    left: 2.3rem;
    top: 2rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;    
}

.vehicleinfo-plate{
    position: absolute;
    width: 146px;
    height: 35px;
    left: 4.5rem;
    top: 7rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    text-align: right;
    color: #FFFFFF;
}

.vehicleinfo-plate-text{
    position: absolute;
    width: 146px;
    height: 35px;
    left: 14.5rem;
    top: 7rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    color: rgba(255, 0, 104, 0.9);    
}

.vehicleinfo-owner{
    position: absolute;
    width: 146px;
    height: 35px;
    left: 3rem;
    top: 11rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    color: #FFFFFF;
}

.vehicleinfo-owner-text{
    position: absolute;
    width: 224px;
    height: 35px;
    left: 12rem;
    top: 11rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    text-align: right;
    color: rgba(255, 0, 104, 0.9);    
}

.vehicleinfo-engine{
    position: absolute;
    width: 208px;
    height: 35px;
    left: 3rem;
    top: 15rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    color: #FFFFFF;
}

.vehicleinfo-engine-text{
    position: absolute;
    width: 224px;
    height: 35px;
    left: 12rem;
    top: 15rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    text-align: right;
    color: rgba(255, 0, 104, 0.9);    
}

.vehicleinfo-turbo{
    position: absolute;
    width: 208px;
    height: 35px;
    left: 3rem;
    top: 19rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    color: #FFFFFF;
}

.vehicleinfo-turbo-text{
    position: absolute;
    width: 224px;
    height: 35px;
    left: 12rem;
    top: 19rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    text-align: right;
    color: rgba(255, 0, 104, 0.9);    
}

.vehicleinfo-armor{
    position: absolute;
    width: 208px;
    height: 35px;
    left: 3rem;
    top: 23rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    color: #FFFFFF;
}

.vehicleinfo-armor-text{
    position: absolute;
    width: 224px;
    height: 35px;
    left: 12rem;
    top: 23rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    text-align: right;
    color: rgba(255, 0, 104, 0.9);    
}

.vehicleinfo-brakes{
    position: absolute;
    width: 208px;
    height: 35px;
    left: 3rem;
    top: 27rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    color: #FFFFFF;
}

.vehicleinfo-brakes-text{
    position: absolute;
    width: 224px;
    height: 35px;
    left: 12rem;
    top: 27rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    text-align: right;
    color: rgba(255, 0, 104, 0.9);    
}

.vehicleinfo-vel{
    position: absolute;
    width: 208px;
    height: 35px;
    left: 3rem;
    top: 31rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    color: #FFFFFF;
}

.vehicleinfo-vel-text{
    position: absolute;
    width: 224px;
    height: 35px;
    left: 12rem;
    top: 31rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    text-align: right;
    color: rgba(255, 0, 104, 0.9);    
}


.vehicleinfo-price{
    position: absolute;
    width: 146px;
    height: 35px;
    left: 3rem;
    top: 35rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    color: #FFFFFF;
}

.vehicleinfo-price-text{
    position: absolute;
    width: 224px;
    height: 35px;
    left: 12rem;
    top: 35rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    text-align: right;
    color: rgba(255, 0, 104, 0.9);    
}

.vehicleinfo-buy{
    box-sizing: border-box;
    position: absolute;
    width: 122px;
    height: 51px;
    left: 5rem;
    top: 39rem;
    border: 2px solid rgba(255, 0, 104, 0.9);
    border-radius: 10px;
    cursor:pointer;
}

.vehicleinfo-buy:hover{
    background: rgba(255, 0, 104, 0.9);
}

.vehicleinfo-buy-text{
    position: absolute;
    width: 98px;
    height: 35px;
    left: 0.5rem;
    top: 0.5rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

.vehicleinfo-cancel{
    box-sizing: border-box;
    position: absolute;
    width: 122px;
    height: 51px;
    left: 16.5rem;
    top: 39rem;
    border: 2px solid rgba(255, 0, 104, 0.9);
    border-radius: 10px;
    cursor: pointer;
}

.vehicleinfo-cancel:hover{
    background: rgba(255, 0, 104, 0.9);
}


.vehicleinfo-cancel-text{
    position: absolute;
    width: 98px;
    height: 35px;
    left: 0.6rem;
    top: 0.5rem;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}



.action{
    position: absolute;
    width: 3.5rem;
    height: 14rem;
    left: 114rem;
    top: 7rem;
    background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
    border-left: 5px solid rgba(255, 0, 104, 0.9);
}

.action-capo{
    box-sizing: border-box;
    position: absolute;
    width: 42px;
    height: 43px;
    left: 0.4rem;
    top: 1rem;
    border: 2px solid rgba(255, 0, 104, 0.9);
    border-radius: 10px;
    cursor: pointer;
}

.action-capo img{
    position: absolute;
    width: 32px;
    height: 31px;
    left: 0.15rem;
    top: 0.3rem;
}

.action-capo:hover{
    background: rgba(255, 0, 104, 0.9);
}

.action-maletero{
    box-sizing: border-box;
    position: absolute;
    width: 42px;
    height: 43px;
    left: 0.4rem;
    top: 4.2rem;
    border: 2px solid rgba(255, 0, 104, 0.9);
    border-radius: 10px;
    cursor: pointer;
}
.action-maletero img{
    position: absolute;
    width: 32px;
    height: 31px;
    left: 0.15rem;
    top: 0.3rem;
}

.action-maletero:hover{
    background: rgba(255, 0, 104, 0.9);
}

.action-puertas{
    box-sizing: border-box;
    position: absolute;
    width: 42px;
    height: 43px;
    left: 0.4rem;
    top: 7.4rem;
    border: 2px solid rgba(255, 0, 104, 0.9);
    border-radius: 10px;
    cursor: pointer;
}

.action-puertas img{
    position: absolute;
    width: 32px;
    height: 31px;
    left: 0.15rem;
    top: 0.3rem;
}

.action-puertas:hover{
    background: rgba(255, 0, 104, 0.9);
}


.action-camara{
    box-sizing: border-box;
    position: absolute;
    width: 42px;
    height: 43px;
    left: 0.4rem;
    top: 10.5rem;
    border: 2px solid rgba(255, 0, 104, 0.9);
    border-radius: 10px;
    cursor: pointer;
}

.action-camara img{
    position: absolute;
    width: 32px;
    height: 31px;
    left: 0.15rem;
    top: 0.3rem;
}

.action-camara:hover{
    background: rgba(255, 0, 104, 0.9);
}

@media screen and (max-width:1680px){

    .action {
        position: absolute;
        width: 3.5rem;
        height: 14rem;
        left: 98rem;
        top: 7rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
        border-left: 5px solid rgba(255, 0, 104, 0.9);
    }

}

@media screen and (max-width:1680px){
    
    .action {
        position: absolute;
        width: 3.5rem;
        height: 14rem;
        left: 98rem;
        top: 7rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
        border-left: 5px solid rgba(255, 0, 104, 0.9);
    }

}

@media screen and (max-width:1600px){

    .action {
        position: absolute;
        width: 3.5rem;
        height: 14rem;
        left: 94rem;
        top: 7rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
        border-left: 5px solid rgba(255, 0, 104, 0.9);
    }

}

@media screen and (max-width:1440px){

    .vehicleinfo {
        position: absolute;
        width: 28rem;
        height: 44rem;
        left: 1rem;
        top: 6rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
    }

    .action {
        position: absolute;
        width: 3.5rem;
        height: 14rem;
        left: 84rem;
        top: 7rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
        border-left: 5px solid rgba(255, 0, 104, 0.9);
    }
    
}

@media screen and (max-width:1366px){

    .vehicleinfo {
        position: absolute;
        width: 28rem;
        height: 44rem;
        left: 1rem;
        top: 2rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
    }

    .action {
        position: absolute;
        width: 3.5rem;
        height: 14rem;
        left: 77rem;
        top: 7rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
        border-left: 5px solid rgba(255, 0, 104, 0.9);
    }
    
}

@media screen and (max-width:1280px){

    .vehicleinfo {
        position: absolute;
        width: 28rem;
        height: 44rem;
        left: 1rem;
        top: 2rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
    }

    .action {
        position: absolute;
        width: 3.5rem;
        height: 14rem;
        left: 74rem;
        top: 7rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
        border-left: 5px solid rgba(255, 0, 104, 0.9);
    }
    
}

@media screen and (max-width:1176px){

    .vehicleinfo {
        position: absolute;
        width: 28rem;
        height: 41rem;
        left: 1rem;
        top: 1rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
    }

    .action {
        position: absolute;
        width: 3.5rem;
        height: 14rem;
        left: 66rem;
        top: 7rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
        border-left: 5px solid rgba(255, 0, 104, 0.9);
    }

    .vehicleinfo-vertical {
        position: absolute;
        width: 0.5rem;
        height: 41rem;
        left: 0rem;
        top: 0rem;
        background: rgba(255, 0, 104, 0.9);
    }
    
    .vehicleinfo-cancel {
        box-sizing: border-box;
        position: absolute;
        width: 124px;
        height: 38px;
        left: 16.5rem;
        top: 38rem;
        border: 2px solid rgba(255, 0, 104, 0.9);
        border-radius: 10px;
        cursor: pointer;
    }

    .vehicleinfo-buy {
        box-sizing: border-box;
        position: absolute;
        width: 124px;
        height: 38px;
        left: 5rem;
        top: 38rem;
        border: 2px solid rgba(255, 0, 104, 0.9);
        border-radius: 10px;
        cursor: pointer;
    }

    .vehicleinfo-cancel-text {
        position: absolute;
        width: 98px;
        height: 35px;
        left: 0.6rem;
        top: 0rem;
        font-family: 'Fjalla One';
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
    }

    .vehicleinfo-buy-text {
        position: absolute;
        width: 98px;
        height: 35px;
        left: 0.5rem;
        top: 0rem;
        font-family: 'Fjalla One';
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
    }

}

@media screen and (max-width:1024px){

    .vehicleinfo {
        position: absolute;
        width: 28rem;
        height: 44rem;
        left: 1rem;
        top: 2rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
    }

    .action {
        position: absolute;
        width: 3.5rem;
        height: 14rem;
        left: 58rem;
        top: 7rem;
        background: linear-gradient(116.66deg, rgba(0, 0, 0, 0.69) 41.87%, rgba(255, 0, 104, 0.621) 304.08%);
        border-left: 5px solid rgba(255, 0, 104, 0.9);
    }
    
}

@keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes slide-in-top2 {
    0% {
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
}