body {
  background: linear-gradient(296.82deg, rgba(4, 14, 39, 0.93) 0%, rgba(84, 51, 146, 0.93) 100%);
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-touch-callout: none; 
  -webkit-user-select: none;
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
}

.confirmvip {
  width: 14%;
  height: 15%;
  position: fixed;
  top: 31%;
  left: 39%;
  border: 2px solid #ffffff21;
  color: white;
  text-align: center;
  font-size: 27px;
  padding: 40 40 40 40;
  font-family: 'Bowlby One';
}

.confirmbutton{
  display: inline-table;
  padding: 3px 13px 3px 9px;
  width: 24%;
  height: 16%;
  background: #F9B704;
  border-radius: 5px;
  margin: 9px -5px;
  cursor: pointer;
  margin-right: 7%;
  margin-top: 12%;
  margin-left: 4%;
}

.confirmbutton:hover {
  background: black;
}

.confirmbutton:hover .confirmbuttontext{
  color: #F9B704;
}

.confirmbuttontext {
  position: static;
  height: 36px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.buttonsconfirm{

}

.season {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 412px;
  height: 138px;
  left: 13%;
  top: 55px;
}

.seasonnum{
  position: static;
width: 412px;
height: 94px;
left: 0px;
top: 0px;
font-family: 'Oswald';
font-style: normal;
font-weight: 200;
font-size: 74px;
line-height: 110px;
letter-spacing: 0.2em;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.seasonends {
position: static;
width: 274px;
height: 44px;
left: 0px;
top: 94px;
font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 31px;
line-height: 46px;
color: #A6A2A2;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}

.becomebox {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px 10px 10px 0px;
position: absolute;
width: 267px;
height: 331px;
left: 15%;
top: 20%;
}

.becomeboxpanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  position: absolute;
  width: 191px;
  height: 288px;
  left: 33%;
  top: 16%;
  border: 2px solid rgba(255, 255, 255, 0.12);
  box-sizing: border-box;
}

.becomeboxpanel img{
  background: url(pngwing.png);
  flex: none;
  order: 0;
  margin-left: -33%;
  margin-top: -19%;
  padding: 0 0 20 0;
  position: relative;
  width: auto;
  height: 71%;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 13px 3px 25px;
  position: static;
  width: 84%;
  height: 16%;
  background: #F9B704;
  border-radius: 5px;
  flex: none;
    flex-grow: 0;
  order: 0;
  flex-grow: 0;
  margin: 9px -5px;
  cursor: pointer;
}

.buttonshop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 13px 3px 25px;
  position: static;
  width: 72%;
  height: 16%;
  background: #F9B704;
  border-radius: 5px;
  margin-top: 57%;
  margin-left: 4%;
  cursor: pointer;
}

.button:hover {
  background-color:black;
}

.buttonshop:hover {
  background-color:black;
}

.button:hover .buttontext{
  color:#F9B704;
}

.buttonshop:hover .buttontextshop{
  color:#F9B704;
}

.buttontext {
  position: static;
  width: 109px;
  height: 36px;
  left: 25px;
  top: 3px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.becomeboxtext{
  position: static;
  width: 167px;
  height: 26px;
  left: 63px;
  top: 10px;
  font-family: 'Bowlby One';
  font-style: normal;
  font-weight: 400;
  font-size: 16.5px;
  line-height: 26px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  display: contents;
}

.buttontextshop{
  position: static;
width: 150px;
height: 45px;
font-family: 'Oswald';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 36px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin-top: -3%;
margin-left: -8%;
}

.shop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  position: absolute;
  width: 211px;
  height: 176.5px;
  left: 17%;
  top: 48%;
}

.shopbox {
  position: static;
  width: 90%;
  height: 100%;
  left: 10px;
  top: 10px;
  background: url(./img/v20_120.png);
  background-blend-mode: hard-light;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  clip-path: polygon(0 0, 100% 10%, 100% 91%, 0% 100%);
  background-size: cover;
  background-color: #463478;
}

.central {
  background-image: url(./img/vrect.png);
  width: 25%;
  height: 41%;
  background-repeat: no-repeat;
  top: 21%;
  position: absolute;
  left: 35%;
  overflow: hidden;
}

.bala1{
  top: 81%;
  position: fixed;
  left: 4%;
  transform: rotate(-20deg);
}

.bala2{
  top: 5%;
  position: fixed;
  left: 47%;
  transform: rotate(-20deg);
  width: 4%;
}

.bala3{
  top: 2%;
  position: fixed;
  left: 90%;
  transform: rotate(4deg);
  width: 9%;
  filter: blur(8px);
  -webkit-filter: blur(4px);
}

.pistol{
  top: 66%;
  position: fixed;
  left: 65%;
  transform: rotate(15deg);
  width: 40%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 336px;
  height: 31px;
  left: 75%;
  top: 3%;
}

.xplogo{
  position: static;
  width: 26px;
  height: 26px;
  left: 0px;
  top: 0px;
  font-family: 'Bowlby One';
  font-style: normal;
  font-weight: 400;
  font-size: 16.5px;
  line-height: 26px;
  color: #F9B704;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 5px;
}

.headertext{
  position: static;
  width: 66px;
  height: 28px;
  left: 31px;
  top: 0px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16.5px;
  line-height: 24px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 5px;
}

.coinslogo{
  position: static;
  width: 24px;
  height: 25.04px;
  left: 102px;
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 5px;
}

.userlogo {
  position: static;
  width: 26px;
  height: 26px;
  left: 203px;
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 5px;
}

.userlogo img {
  width: 20px;
  height: 26px;
}

.progress{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 646px;
  height: 142px;
  left: 39%;
  top: 67%;
}

.level{
  position: static;
  width: 33px;
  height: 122px;
  left: 10px;
  top: 10px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 82.5px;
  line-height: 122px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.leveltext{
  position: static;
  width: 280px;
  height: 36px;
  left: 0px;
  top: 30px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 25.5px;
  line-height: 38px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.progressbarbck{
  position: static;
  width: 100%;
  height: 20px;
  left: 0px;
  top: 66px;
  background: rgba(0, 0, 0, 0.62);
  border: 11px solid #000;
  box-sizing: border-box;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

.progressbar{
  position: static;
  width: 106%;
  height: 20px;
  left: 0px;
  top: 66px;
  background: rgba(0, 0, 0, 0.62);
  border: 11px solid #7000FF;
  box-sizing: border-box;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: -2.7%;
  margin-left: -3%;
}

.progresscenter{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0px 0px;
  position: static;
  width: 435px;
  height: 86px;
  left: 53px;
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

.progressnext{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 55px 10px 10px;
  position: static;
  width: 158px;
  height: 101px;
  left: 488px;
  top: 0px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 0px;
}

.progressamount{
  position: static;
  width: 21%;
  height: 36px;
  left: 10px;
  top: 55px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 36px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 6px;
  text-align: right;
}

.progressamountcenter{
  position: static;
  width: 33%;
  height: 36px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 36px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  margin-left: -2%;
}

.progressamountlvl{
  position: static;
  width: 21%;
  height: 36px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 36px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 6px;
  text-align: left;
}

.nextreward{
  position: absolute;
  width: 319px;
  height: 164px;
  left: 1525px;
  top: 321px;
}

.nextrewardpanel{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  position: absolute;
  width: 107%;
  height: 224%;
  left: 302%;
  top: 94%;
  border: 2px solid rgba(255, 255, 255, 0.12);
  box-sizing: border-box;
}

.nextrewtitle{
  position: fixed;
  width: 9.5%;
  height: 38px;
  left: 72.4%;
  top: 29.4%;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-size: 25.5px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.19em;
  color: rgba(255, 255, 255, 0.47);
  border: 2px solid rgba(255, 255, 255, 0.12);
  padding: 0px 0px 0px 5px;
}


.nexticons{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 30px;
  height: 79px;
  left: 18%;
  top: 19%;
}

.nextfreeicon{
  position: static;
  width: 23px;
  height: 33px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 67px -12px #00A3FF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top:-8%;
}

.nextvipicon{
  position: static;
  width: 30px;
  height: 25px;
  left: 0px;
  top: 54px;
  box-shadow: 0px 0px 67px -12px #FFA800;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 262%;
  margin-left: -6%;
}

.nextfreetext{
  position: fixed;
  width: 80px;
  height: 55px;
  left: 75.5%;
  top: 37.5%;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 20.5px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: left;
}

.nextviptext{
  position: fixed;
  width: 80px;
  height: 55px;
  left: 75.5%;
  top: 45.9%;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 20.5px;
  color: #FFFFFF;
  text-align: left;
}

.nextrewimage{
  width: 8%;
  position: fixed;
  top: 41%;
  left: 76%;
}

.itemfree{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
  position: absolute;
  width: 54%;
  height: 58%;
  top: -34%;
  background: rgba(255, 255, 255, 0.06);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient( to top, #b5b5b52e, rgba(0, 0, 0, 0) ) 7 10;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.itemfree img{
  position: static;
  width: 200%;
  height: 116%;
  flex: none;
  order: 0;
  filter: drop-shadow(0px 0px 14px rgba(0, 209, 255, 0));
  margin-left: -45%;
  margin-top: -53%;
}

.itemfree span{
  position: static;
  width: 97px;
  height: 7px;
  left: 28px;
  top: 122px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 20.5px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: -17%;
  text-align: center;
  margin-top: 13%;
}

.itemvip{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
  position: absolute;
  width: 54%;
  height: 58%;
  top: 63%;
  background: rgba(255, 255, 255, 0.06);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient( to bottom, #b5b5b52e, rgba(0, 0, 0, 0) ) 7 10;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.itemvip img{
  position: static;
  width: 200%;
  height: 116%;
  flex: none;
  order: 0;
  filter: drop-shadow(0px 0px 14px rgba(255, 187, 0, 0.212));
  margin-left: -45%;
  margin-top: -53%;
}

.itemvip span{
  position: static;
  width: 97px;
  height: 7px;
  left: 28px;
  top: 122px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 20.5px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: -17%;
  text-align: center;
  margin-top: 13%;
}

.itemnum{
  background-color: #00000052;
  width: 24%;
  height: 13%;
  position: absolute;
  margin-top: -289%;
  margin-left: 4.9%;
  border-radius: 20px;
  font-family: 'Oswald';
  font-size: 17px;
  line-height: 1.4;
  text-align: center;
}


/* CARROUSEL */

code {
  font-size: 1.1em;
  line-height: 1.8em;
}

pre {
  white-space: pre-wrap;
}

.pen-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.pen-content {
  max-width: 100%;
}


.component-wrapper {
  margin: 0 auto;
  max-width: calc(100% - 10px*2);
  margin: 0 10px;
  text-align: center;
  width: 900px;
}

.slider-outer-shell {
  position: relative;
  width: 100%;
}

.slider-wrapper {
  overflow: hidden;
  margin: 0 60px;
  position: relative;
  width: calc(100% - 120px);
}

.slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  transition: transform 0.5s;
  width: 100%;
  margin-top: -3%;
}
.show-slider-navigation .slider {
  justify-content: flex-start;
}

.slider__item {
  box-sizing: border-box;
  max-width: calc(100% - 10px - 0px + 10px/1);
  min-width: calc(100% - 10px - 0px + 10px/1);
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  padding: 10px;
  position: relative;
  user-select: none;
}
.slider__item:first-child {
  margin-left: 0;
}
.slider__item:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 480px) {
  .slider__item {
    box-sizing: border-box;
    max-width: calc(50% - 10px - 0px + 10px/2);
    min-width: calc(50% - 10px - 0px + 10px/2);
  }
}
@media only screen and (min-width: 600px) {
  .slider__item {
    box-sizing: border-box;
    max-width: calc(33.3333333333% - 10px - 0px + 10px/3);
    min-width: calc(33.3333333333% - 10px - 0px + 10px/3);
  }
}
@media only screen and (min-width: 760px) {
  .slider__item {
    box-sizing: border-box;
    max-width: calc(25% - 10px - 0px + 10px/4);
    min-width: calc(25% - 10px - 0px + 10px/4);
  }
}
@media only screen and (min-width: 900px) {
  .slider__item {
    box-sizing: border-box;
    max-width: calc(20% - 10px - 0px + 10px/5);
    min-width: calc(20% - 10px - 0px + 10px/5);
  }
}

.slider__nav-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 60px;
}
.slider__nav-button svg {
  width: 100%;
}
.slider__nav-button svg > * {
  fill: #fff;
}
.slider__nav-button.previous {
  left: 0;
  justify-content: flex-start;
}
.slider__nav-button.next {
  right: 0;
  justify-content: flex-end;
}

.slider__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.slider__pagination-item {
  background-color: #fff;
  border-radius: 50%;
  display: block;
  height: 10px;
  margin: 0 8px;
  width: 10px;
}

@media screen and (max-width:2560px){

  .central {
    width: 30%;
  }

  .shop {
    left: 17.8%;
  }

  .nextrewardpanel{
    width: 107%;
    height: 182%;
    left: 108%;
    top: 94%;
  }

  .nextrewtitle{
    left: 74.8%;
  }

  .nextfreetext{
    left: 77.5%;
  }

  .nextviptext{
    left: 77.5%;
  }

  .nextfreeicon{
    margin-top: 14%;
  }

  .nextvipicon{
    margin-top: 287%;
  }

  .nextrewimage{
    left: 81%;
  }

  .confirmvip{
    left: 41%;
  }

  .itemnum {
    margin-top: -322%;
  }
}

@media screen and (max-width:1920px){

  .becomebox {
    left: 11%;
    top: 21%;
  }

  .shop {
    left: 14.8%;
    top: 55%;
  }

  .central {
    width: 36%;
    top: 21%;
    left: 32%;
    height: 49%;
  }

  .confirmvip {
    left: 41%;
    height: 21%;
    top: 33%;
  }

  .nextrewardpanel {
    width: 87%;
    height: 142%;
    left: -33%;
    top: 30%;
  }

  .nextrewtitle {
    left: 76.1%;
  }

  .nextfreetext {
    left: 78.5%;
    width: 8%;
    top: 39.5%;
  }

  .nextviptext {
    left: 78.5%;
    width: 7%;
    top: 46.9%;
  }

  .nextvipicon {
    margin-top: 171%;
  }

  .nextrewimage {
    left: 82%;
    top: 43%;
  }

  .progress{
    left: 35%;
    top: 72%;
  }

  .progressamount{
    margin: 0px 15px;
  }

  .slider__item {
    margin-right: 5%;
    margin-top:10%;
  }

  .itemfree {
    width: 64%;
    margin-left: 13%;
    
  }

  .itemvip {
    width: 64%;
    margin-left: 13%;
  }
 
  .itemnum {
    margin-top: -370%;
    margin-left: 17.9%;
  }
  
}

@media screen and (max-width:1280px){
  .seasonnum {
    font-size: 58px;
  }

  .season{
    top: 5px;
  }

  .seasonends{
    position: relative;
    font-size: 26px;
    left: 0px;
    top: -50%;
  }

  .becomebox {
    left: 4%;
    top: 22%;
    width: 15%;
    height: 7%;
  }

  .shop {
    left: 7.8%;
    top: 64%;
  }

  .central {
    width: 38%;
    top: 18%;
    left: 32%;
    height: 57%;
  }

  .slider__item {
    height: 40%;
    margin-top: 9%;
  }

  .confirmvip {
    font-size: 17px;
  }

  .confirmbutton {
    margin-right: 3%;
  }
  
  .nextreward {
    position: absolute;
    width: 18%;
    height: 21%;
    left: 83%;
    top: 30%;
  }

  .nextrewimage {
    left: 86%;
    top: 53%;
  }

  .nextvipicon {
    margin-top: 152%;
  }

  .nextfreetext {
    left: 82.5%;
    width: 8%;
    top: 42.5%;
  }

  .nextviptext {
    left: 82.5%;
    width: 7%;
    top: 53.9%;
  }

  .header {
    left: 66%;
  }

  .nextrewtitle {
    width: 14.9%;
    left: 77.1%;
  }

  .progressamount {
    margin: 0px 13px;
  }

  .pistol {
    left: 70%;
    top: 72%;
  }

  .progress {
    left: 29%;
    top: 75%;
  }

  .bala1 {
    left: -2%;
  }

  .slider__item {
    margin-right: 13%;
  }

  .itemnum {
    margin-top: -500%;
  }

  .slider {
    margin-top: 0%;
  }

  .itemfree {
    width: 64%;
    margin-left: 51%;
  }

  .itemvip {
    width: 64%;
    margin-left: 51%;
  }

  .itemnum {
    margin-left: 54.9%;
  }

}