.preview-screen {
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 3;
    background-color: var(--theme-opposite);
    color: var(--theme-opposite);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.preview-screen .box {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: var(--theme);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.1vw 0 var(--theme-opposite);
}

.preview-screen .box > .header {
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.35vw;
    font-style: italic;
}

.preview-screen .box > .text {
    font-size: 0.75vw;
    opacity: 0.5;
}

.preview-screen .box > .box-info {
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview-screen .box > .box-info .info-text {
    font-size: 0.45vw;
    font-weight: 500;
    opacity: 0.5;
    margin-top: 0.4vw;
}

.preview-screen .ui-elements {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--theme-opposite-2);
    background: url(https://cdn.discordapp.com/attachments/1096945405691957298/1122795441151545374/Frame_1.png);
    background-size: cover;
    transform: scale(1);
    /* box-shadow: inset 0 0 0 3px var(--motive); */
}

.preview-screen .ui-elements > .info-text {
    box-sizing: border-box;
    padding: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: 700;
    font-style: italic;
    opacity: 0.01;
    color: var(--theme);
}

.preview-screen .ui-elements .hud-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4vw;
    position: absolute;
    width: auto !important;
    height: auto !important;
    bottom: 3%;
    left: 43.2%;
    flex-shrink: 0;
    z-index: 2;
    opacity: 0.92;
    filter: drop-shadow(0 0 8px var(--theme-opposite));
    transform: scale(1.0);
    transition: transform .125s ease-in-out;
}

.preview-screen .ui-elements .notify-container {
    position: absolute;
    left: 41%;
    top: 2%;
    z-index: 2;
    opacity: 0.95;
    transform: scale(1.0);
    filter: drop-shadow(0 0 4px black);
    transition: transform .125s ease-in-out;
}

.preview-screen .ui-elements .progress-container {
    position: absolute;
    bottom: 12%;
    left: 40%;
    z-index: 2;
    opacity: 0.9;
    filter: drop-shadow(0 0 4px var(--theme-opposite));
    transform: scale(1.0);
    transition: transform .125s ease-in-out;
}

.preview-screen .ui-elements .displayers-container {
    position: absolute;
    right: 3%;
    top: 2%;
    z-index: 2;
    opacity: 0.90;
    filter: drop-shadow(0 0 4px var(--theme-opposite));
    transform: scale(1.0);
    transition: transform .125s ease-in-out;
}

.preview-screen .ui-elements .carhud-container {
    position: absolute;
    right: 3%;
    bottom: 2%;
    z-index: 2;
    opacity: 0.90;
    filter: drop-shadow(0 0 4px var(--theme-opposite));
    transform: scale(1.0);
    transition: transform .125s ease-in-out;
}

.preview-screen .ui-elements > .button {
    position: absolute;
    right: 2%;
    bottom: 3%;
    z-index: 3;
    color: var(--theme);
    opacity: 0.1;
    font-weight: 500;
    font-size: 0.85vw;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0.2vw;
    border-radius: 0.1vw;
    transition: all .125s ease-in-out;
}

.preview-screen .ui-elements > .button:hover {
    background-color: var(--motive);
    color: var(--theme-opposite);
    opacity: 1;
}

.preview-screen .ui-elements > .menu {
    position: absolute;
    left: -25%;
    top: 0;
    width: 25%;
    height: 100%;
    z-index: 5;
    background-color: var(--theme-opposite);
    opacity: 0.9;
    color: var(--theme);
    box-sizing: border-box;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    filter: drop-shadow(0 0 20px var(--theme-opposite)) drop-shadow(0 0 20px var(--theme-opposite));
}

.preview-screen .ui-elements > .menu .header-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    left: 0;
    gap: 0;
    margin-bottom: 1.8vw;
}

.preview-screen .ui-elements > .menu .header-box .header {
    font-size: 2vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    height: 2.1vw;
}

.preview-screen .ui-elements > .menu .header-box .text {
    font-size: 0.6vw;
    transform: skew(-13deg);
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--theme);
    color: var(--theme-opposite-2);
    margin-right: 0.3vw;
    padding: 0.05vw 0.4vw;
}

.preview-screen .ui-elements > .menu > .button {
    position: absolute;
    top: 2%;
    right: 5%;
    color: var(--motive);
    opacity: 0.5;
    font-size: 1vw;
    transition: opacity 0.125s ease-in-out;
}

.preview-screen .ui-elements > .menu > .button:hover {
    opacity: 1;
}

.preview-screen .ui-elements > .menu .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1vw;
}

.preview-screen .ui-elements > .menu .content .context {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5vw;
    width: 100%;
}

.preview-screen .ui-elements > .menu .content .context-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5vw;
    width: 100%;
}

.preview-screen .ui-elements > .menu .content .context-row .text-box {
    padding: 0.2vw 0.5vw;
    background-color: var(--motive);
    border-radius: 0.1vw;
    font-size: 0.65vw;
    text-align: center;
    text-align: center;
}

.preview-screen .ui-elements > .menu .content .context > input[type=range] {
    -webkit-appearance: none; 
    appearance: none;
    background-color: var(--theme-opposite-light);
    border-radius: 0.1vw;
    width: 100%;
}

.preview-screen .ui-elements > .menu .content .context > input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1vw;
    height: 1vw;
    border-radius: 0.1vw;
    background-color: var(--motive);
    transform: scale(1.2);
    transition: all .625s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.preview-screen .ui-elements > .menu .content .context > input[type=range]::-webkit-slider-thumb:active {
    transform: scale(1.3);
}

.preview-screen .ui-elements > .menu .content .context .text-box {
    margin-left: auto;
    padding: 0.2vw 0.5vw;
    background-color: var(--motive);
    border-radius: 0.1vw;
    font-size: 0.65vw;
}

.preview-screen .ui-elements > .menu .content > .button {
    width: 40%;
    background: linear-gradient(to left, var(--theme-opposite-light) 50%, var(--motive) 50%) right;
    background-size: 200%;
    box-sizing: border-box;
    padding: 0.3vw 1vw;
    text-align: center;
    font-size: 0.65vw;
    color: var(--theme);
    font-weight: 500;
    transition: all .525s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.preview-screen .ui-elements > .menu .content > .button:hover {
    background-position: left;
    color: var(--theme-opposite);
}

.preview-screen .ui-elements .info-keys-cont {
    position: absolute;
    bottom: 2%;
    left: 2%;
    box-sizing: border-box;
    padding: 1vw;
    gap: 3vw;
    opacity: 0.8;
    background: var(--theme-anim-from);
    color: var(--theme);
    animation: animBg 5s infinite;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-screen .ui-elements .info-keys-cont:hover {
    background: var(--theme-anim-to);
}

@keyframes animBg {
    0% {
        background: var(--theme-anim-from)
    } 50% {
        background: var( --theme-anim-to)
    } 100% {
        background: var(--theme-anim-from)
    }
}

.preview-screen .ui-elements .info-container-preview {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
    border-radius: 0.1vw;
    width: auto;
    opacity: 0;
    height: auto;
    box-sizing: border-box;
    padding: 0.3vw;
    background-color: var(--theme-opposite-opacity);
}

.preview-screen .ui-elements .info-container-preview .button {
    color: var(--theme);
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 0.55vw;
    padding: 0.2vw;
}

.preview-screen .ui-elements .info-container-preview .button .key {
    font-size: 0.6vw;
    width: 6vw;
    display: flex;
}

.preview-screen .ui-elements .info-container-preview .button .key span {
    opacity: 0.2;
    margin-left: 0.3vw;
    margin-right: 0.15vw;
}

.preview-screen .container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0;
    z-index: 3;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-color: var(--theme-opposite-opacity);
}

.preview-screen .container .text {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    color: var(--theme);
    background-color: var(--theme-opposite);
    padding: 0.5vw 1vw;
}

.preview-screen .container > .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.preview-screen .container > .row .button {
    width: 3vw;
    background-color: transparent;
    color: var(--theme);
    transition: all .125s ease-in-out;
    text-align: center;
    padding: 0.2vw;
    font-weight: 500;
    border-radius: 0.1vw;
}

.preview-screen .container > .row .button:hover {
    background-color: var(--motive);
    color: var(--theme-opposite);
}