.preview-screen .ui-elements .hud-container > .hud_icon-percent {
    width: 2.3vw;
    height: 2.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
    position: relative;
    left: 0%;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.349));
    pointer-events: none;
    margin-bottom: 0.6vw;
}

.preview-screen .ui-elements .hud-container > .hud_icon-percent .icon {
    width: auto;
    height: auto;
    padding: 0.45vw;
    border-radius: 50%;
    background-color: var(--motive);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.15vw solid var(--theme-opposite);
}

.preview-screen .ui-elements .hud-container > .hud_icon-percent .value {
    font-size: 0.55vw;
    font-weight: 600;
    width: 100%;
    text-align: center;
    color: var(--theme);
}