.ui-screen .hud-cont > .hud_square-progress {
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0%;
    gap: 0.2vw;
    pointer-events: none;
    flex-shrink: 0;
}

.ui-screen .hud-cont > .hud_square-progress .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-opposite);
    color: var(--motive);
    padding: 0.2vw 0.4vw;
    font-size: 0.65vw;
    border-radius: 0.15vw;
}

.ui-screen .hud-cont > .hud_square-progress .progress {
    width: 10vw;
    height: 1vw;
    background-color: var(--theme-opposite);
    box-sizing: border-box;
    padding: 0.25vw 0.3vw;
    border-radius: 0.15vw;
}

.ui-screen .hud-cont > .hud_square-progress .progress .value {
    width: 80%;
    height: 100%;
    background-color: var(--motive);
    border-radius: 0.08vw;
}