.ui-screen .displayers-cont > .displayer-content_basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 0%;
    gap: 0.15vw;
    pointer-events: none;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.213));
    flex-shrink: 0;
}

.ui-screen .displayers-cont > .displayer-content_basic .row {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 0.15vw;
    flex-shrink: 0;
}

.ui-screen .displayers-cont > .displayer-content_basic .displayer-b {
    display: flex;
    width: 6vw;
    font-size: 0.55vw;
    border-radius: 0.2vw;
    overflow: hidden;
    background-color: var(--theme-opposite);
}

.ui-screen .displayers-cont > .displayer-content_basic .displayer-b .icon {
    width: 3vw;
    text-align: center;
    padding: 0.1vw;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--theme-opposite);
    background-color: var(--motive);
}

.ui-screen .displayers-cont > .displayer-content_basic .displayer-b .text {
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme);
    opacity: 0.5;
}

.ui-screen .displayers-cont > .displayer-content_basic .displayer {
    width: 6vw;
    height: 4vw;
    display: flex;
    flex-direction: column;
    border-radius: 0.2vw;
    gap:0.5vw;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-opposite);
    color: var(--motive);
}

.ui-screen .displayers-cont > .displayer-content_basic .displayer .icon {
    font-size: 1vw;
}

.ui-screen .displayers-cont > .displayer-content_basic .displayer .text {
    font-weight: 600;
    font-size: 0.65vw;
}