.ui-screen .carhud-cont .carhud-content_modern {
    position: relative;
    left: 0%;
    width: 20vw;
    height: 20vw;
}
.ui-screen .carhud-cont .carhud-modern {
    width: 20vw;
    height: 20vw;
    position: relative;
    display: flex;
    left: 0%;
    transform: scale(0.75);
}

.ui-screen .carhud-cont .carhud-modern > svg {
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
}

.ui-screen .carhud-cont .carhud-modern .indicators {
    width: 20vw;
    height: 20vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.366));
}


.ui-screen .carhud-cont .carhud-modern .indicators .speed-box {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui-screen .carhud-cont .carhud-modern .indicators .speed-box .units {
    font-size: 0.6vw;
    font-weight: 600;
    opacity: 0.6;
    margin: 0;
    position: relative;
    top: 0.5vw;
}

.ui-screen .carhud-cont .carhud-modern .indicators .speed-box .speed {
    display: flex;
    font-size: 3.3vw;
    font-weight: 700;
    margin-bottom: 0.3vw;
}

.ui-screen .carhud-cont .carhud-modern .indicators .speed-box .speed .speed-0 {
    opacity: 0.4;
    width: 2.3vw;
    text-align: center;
}
.ui-screen .carhud-cont .carhud-modern .indicators .speed-box .speed .speed-int {
    width: 2.3vw;
    text-align: center;
}

.ui-screen .carhud-cont .carhud-modern .indicators .speed-box .street-label {
    font-weight: 600;
    width: 13vw;
    text-align: center;
}

.ui-screen .carhud-cont .carhud-modern .indicators .belt {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1.3vw;
    color: white;
    opacity: 0.6;
}

#carHudProgressModernFuel {
    stroke-dasharray: 677.3810424804688;
}

.carHudProgressModern {
    stroke-dasharray: 3449.373046875;
    stroke-dashoffset: 3449.373046875;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes updateCarhudModernBar {
    0% {
        stroke-dashoffset: 3449.3730486875
    } 50% {
        stroke-dashoffset: 1720
    } 100% {
        stroke-dashoffset: 3449.3730486875
    }
}