.configuration-screen section .box .content > .hud_icon-percent {
    width: 8vw;
    height: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
    position: relative;
    left: 0%;
    transform: scale(3.0);
}

.configuration-screen section .box .content > .hud_icon-percent .icon {
    width: auto;
    height: auto;
    padding: 0.45vw;
    border-radius: 50%;
    background-color: var(--motive);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.15vw solid var(--theme-opposite);
}

.configuration-screen section .box .content > .hud_icon-percent .value {
    font-size: 0.55vw;
    font-weight: 600;
    width: 100%;
    text-align: center;
}